@import url(bootstrap.css);
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,300';
@import url(lightbox/main.css);
@import url(lightbox/magnific-popup.css);
body, .tooltip, .popup {
  font-family: "Lato", sans-serif;
}

.navbar-inverse {
  background-color: #333;
}

.navbar-inverse .navbar-nav li a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ff8f1c;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ff8f1c;
  background-color: transparent;
}

.navbar-inverse .navbar-nav .dropdown-menu li a {
  color: black;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
}

.navbar-inverse .navbar-toggle {
  background-color: #ff8f1c;
  border-color: white;
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-brand img {
  height: 45px;
  margin-top: -15px;
}

.jumbotron {
  padding-top: 166px;
  padding-bottom: 66px;
  margin-bottom: 66px;
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../images/colin.jpg) no-repeat center;
  background-size: cover;
  background-position: 0 13%;
  color: white;
}

.jumbotron h1 {
  margin: 1.5em 0 0 0;
}

.jumbotron h2 {
  margin-top: 0;
}

.btn-primary, .btn-primary:focus {
  background-color: #333;
  border-color: #333;
}

.btn-primary:hover, .btn-primary:active:focus {
  background-color: #ff8f1c;
  border-color: #ff8f1c;
}

.accentBox {
  background-color: #ff8f1c;
  color: white;
}

.accentBox ul li {
  font-size: 1.5em;
  line-height: 2em;
  list-style: none;
}

.accentBox span {
  padding-right: 10px;
}

.thumbnail {
  border: 0;
}

.paragraphBlock p {
  font-size: 1.66em;
  line-height: 2em;
}

.paragraphBox {
  width: 87%;
  margin: auto;
  padding: 40px 0;
}

.paragraphBox .btn {
  font-size: 1.66em;
  width: 80%;
}

.paragraphBox .largeBtn p {
  text-align: center;
}

#titleBar {
  background-color: #ff8f1c;
  color: white;
  margin: 50px 0 0 0;
  padding: 0;
  height: 80px;
}

.helmet {
  background: url(../images/helmet.png) no-repeat right;
  background-size: 50%;
  background-position: 117% 33%;
}

.offer {
  margin-left: 75px;
  padding: 20px 0;
}

.why {
  line-height: 1.66em;
}

.why #creed {
  padding-bottom: 20px;
}

.why #creed .nav a {
  color: #333;
}

.why #creed .nav .active a {
  background-color: #333;
  color: white;
  border: 1px solid #333;
}

.why .tab-pane {
  padding: 20px 10px;
  background-color: #333;
  color: white;
}

.why .panel-heading {
  background-color: #333;
  color: white;
}

.why img {
  width: 100%;
  margin-bottom: 33px;
}

.brotherhood .parabox {
  text-align: center;
  padding: 33px 0;
  width: 75%;
  margin: auto;
}

.brotherhood .parabox h4 {
  line-height: 1.8em;
}

.brotherhood .subBox {
  margin: 40px 0;
}

.brotherhood .subBox img {
  width: 100%;
}

.brotherhood .fact {
  padding: 75px 0 66px;
  text-align: center;
}

.brotherhood .fact h1 {
  font-size: 5em;
}

.brotherhood .fact h2 {
  margin: 0;
  letter-spacing: 2px;
}

.brotherhood .factside {
  margin-top: 7%;
  text-align: center;
}

.brotherhood .factside .btn-side {
  margin-top: 20px;
  width: 66%;
}

.brotherhood .modal-title {
  color: black;
}

.fullimgbox {
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../images/funnybros.JPG) no-repeat center;
  background-size: cover;
  background-position: 0% 33%;
  height: 400px;
  color: white;
}

#newsletter .list-group {
  margin-top: 33px;
}

#newsletter .list-group-item.active .badge {
  color: white;
  background-color: #ff8f1c;
}

#newsletter .list-group-item.active:focus .badge {
  background-color: #333;
}

#newsletter .list-group-item.active:hover .badge {
  background-color: #333;
}

#newsletter .list-group-item.active {
  background-color: #333;
  border-color: #333;
}

#newsletter .list-group-item.active:hover, #newsletter .list-group-item.active:focus {
  background-color: #ff8f1c;
  border-color: #ff8f1c;
}

#newsletter #newsletter {
  margin-bottom: 20px;
}

#newsletter .textBox p:first-child:first-letter {
  float: left;
  color: black;
  font-size: 66px;
  line-height: 50px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

#newsletter .textBox p {
  line-height: 2em;
}

#newsletter .textBox a {
  color: #ff8f1c;
}

#newsletter .signature {
  margin-bottom: 33px;
}

#newsletter .signature p {
  margin: 0;
}

.connect {
  /*
    .smwidget .nav-tabs{background-color: $navColor;
        a{color:white;}
        .active{background-color: $accentColor;}
    }*/
}

.connect .smwidget {
  padding: 20px 0;
}

.connect .address {
  line-height: 1.66em;
}

.connect .address a {
  color: black;
}

.connect .location {
  margin-top: 20px;
}

.connect .contactBox {
  line-height: .66em;
}

.connect .contactBox a {
  color: black;
}

.connect .contact .btn-primary {
  margin: 0 0 20px;
}

.connect .nav a {
  color: #333;
}

.connect .nav .active a {
  background-color: #333;
  color: white;
  border: 1px solid #333;
}

.connect .nav .active a:hover {
  background-color: #333;
  color: white;
  border: 1px solid #333;
}

.connect .nav .active a:focus {
  background-color: #333;
  color: white;
  border: 1px solid #333;
}

.footer {
  background-color: #333;
  color: white;
  padding: 30px 0 20px;
}

.footer li {
  float: left;
  padding: 0 10px;
  list-style: none;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #ff8f1c;
  text-decoration: none;
}

.footer p {
  text-align: center;
  margin-bottom: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.progress {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
    margin: auto;
  }
  .footer p {
    float: none;
  }
  .jumbotron {
    background-position: 66% 0;
  }
  .paragraphBox .btn {
    font-size: 1em;
  }
  .paragraphBlock p {
    font-size: 1.2em;
  }
  .brotherhood .fact {
    padding: 20px 0 15px;
  }
  .brotherhood .fact h1 {
    font-size: 2em;
  }
}
